body {
    background-color: #bddcbd!important;
}

.card {
    height: 700px;
    /* background-color: #ffd7d0!important; */
}

.card-body {
    /* background: url("/static/imgs/glenburn-left.jpg") center no-repeat; */
    height: 100%;
}

.row {
    height: 100%;
}

.logo {
    position: absolute;
    top: 30px;
    left: 220px;
    height: 70px;
    filter: brightness(50%);
}

.header-text {
    margin-top: 140px;
    margin-left: 60px;
    margin-right: 50px;
    font-family: 'Pinyon Script', cursive;
    font-size: 20px;
    text-align: center;
}

.card-image {
    height: 70%;
    position: absolute;
    bottom: 20px;
    left: 130px;
}

.heading {
    font-size: 20px;
    font-family: 'Pinyon Script', cursive;
    margin-top: 25px;
}

.item-title {
    margin-top: 120px;
}

.item-price {
    margin-top: 100px;
}

.description {
    margin: 0;
}