body {
    background-color: #bddcbd!important;
}

.card {
    height: 700px;
}

.card-body {
    height: 100%;
}

.row {
    height: 100%;
}

.logo {
    position: absolute;
    top: 30px;
    left: 220px;
    height: 70px;
    filter: brightness(50%);
}

.header-text {
    margin-top: 140px;
    margin-left: 60px;
    margin-right: 50px;
    font-family: 'Pinyon Script', cursive;
    font-size: 20px;
    text-align: center;
}

.card-image {
    height: 70%;
    position: absolute;
    bottom: 20px;
    left: 130px;
}

.heading {
    font-size: 22px;
    font-family: 'Pinyon Script', cursive;
    margin-top: 25px;
}

.item-title {
    margin-top: 100px;
}

.item-price {
    margin-top: 80px;
}

.description {
    margin-top: 40px;
}

.premium {
    font-weight: bold;
}

.header-image {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
}

.header {
    background: url('/static/imgs/glenburn-bg.jpg') center no-repeat;
    background-size: 1500px;
    filter: brightness(0.9);
    font-weight: 500;
}

.header-title {
    margin-top: 50px;
    margin-left: 100px
}

.header-desc {
    margin-top: 80px;
}