.header-img {
    width: 100%;
}

body {
    background-color: #456344!important;
}

.card {
    background-color: #bece72!important;
}

.logo {
    position: absolute;
    left: 380px;
    top: 40px;
}

.logo-text {
    position: absolute;
    left: 370px;
    top: 30px;
}

.heading {
    margin-top: 60px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 18px;
    color: #456344;
}

.item-title {
    margin-top: 100px;
    color: #834333;
    text-transform: capitalize;
}

.weave-logo {
    mix-blend-mode: multiply;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    margin-bottom: 60px;
}

.header {
    margin-top: 60px;
}

.header-desc {
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 60px!important;
}

.card-image {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    height: 500px!important;
    width: 500px;
}

.price-container {
    display: flex;
    justify-content: space-around;
}

.price-text {
    font-weight: bold;
    font-size: 15px;
    color: #456344;
    margin-top: 20px;
}

.features {
    color: #834333;
}

.nutrients {
    font-size: 12px;
    margin-top: 40px;
    color: #834333;
}

.number {
    position: absolute;
    bottom: 0px;
    right: 20px;
}