.header-img {
    width: 100%;
}

body {
    background-color: #Aee18c!important;
}

.card {
    background-color: #3d8c40!important;
}

.logo {
    position: absolute;
    left: 220px;
    top: 40px;
}

.logo-text {
    position: absolute;
    left: 220px;
    top: 30px;
}

.heading {
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 18px;
    color: white;
}

.item-title {
    margin-top: 130px;
}

.weave-logo {
    mix-blend-mode: multiply;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    margin-bottom: 60px;
}

.header {
    margin-top: 60px;
}

.header-desc {
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 60px!important;
}

.card-image {
    margin-top: 15px;
}

.price-container {
    display: flex;
    justify-content: space-between;
}

.price-text {
    font-weight: bold;
}

